h1 { 
    color: rgb(37, 37, 151); 
    text-align: center; 
  } 
   
  h2 {  
    text-align: left;
    color: rgba(10, 10, 150, 0.637); 
  } 


  p { 
    font-family: sans-serif; 
    color: rgb(6, 145, 187);
  } 
   
  ol { 
    font-size: 20px; 
    line-height: 30px;
    margin-left: 200px;
    color: blue;
  } 